{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            ">0.25%"
          ]
        }
      }
    ]
  ],
  "plugins": [
    "syntax-dynamic-import",
    [
      "transform-runtime",
      {
        "helpers": true,
        "polyfill": true,
        "regenerator": true,
        "moduleName": "babel-runtime"
      }
    ]

  ]
}