// 主字体
$fFamily = 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
// 主色调
$cMain1 = rgba(255, 134, 113, 0.8)
/* 文字颜色 */
$cText1 = #666
$cText2 = #999
$cText3 = #ddd
/* 背景颜色 */
$cBackground = #eee
/* 线颜色 */
$cLine1 = #eee